body {
	font-family: "Lato", sans-serif;
}

/* === HEADER ROW === */
header {
	background: #00a2ff url(../img/ddd-bg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-align: center;
}
header > * {
	z-index: 2;
	position: relative;
}
header .bg-fill {
	background: #00a2ff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	opacity: 0.85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	z-index: 1;
}
header h1,
header h2 {
	color: #FFF;
	font-family: "Lato";
	text-align: center;
}
header .title {
	padding: 7em 0;	
}
header h1 {
	font-size: 5.5em;
	line-height: 0.85em;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "Titillium Web", sans-serif;
	margin: 0 0 0.25em 0;
}
header h2 {
	font-weight: 300;
	width: 65%;
	font-size: 1.8em;
	margin: 0 auto;
}
.status-row {
	color: #FFF;
	text-transform: uppercase;
	background: rgba(0,0,0,0.1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
	padding: 1em 0;
}
.sponsor-row {
	text-align: center;
}
.sponsor-row a {
	display: inline-block;
	padding: 0 20px;
	vertical-align: top;
}

					@media only screen and (max-width: 600px) {
						.status-row {
							text-align: center;
						}
						header .title {
							font-size: 0.55em;
							padding: 6em 3em;
						}
						header h2 {
							font-size: 2.5em;
							width: 90%;
						}
					}


/* === SPONSORSHIP === */
.sponsor-row {
	background: #F7F7F7;
	padding: 3em 0;
}
	.no-boxshadow .obj {
		border: 2px solid #000;
	}




/* === AGENDA ROW === */
.agenda-row {
	padding: 1em 0 7em 0;
}
.agenda-row h2 {
	color: #333;
	font-family: "Lato";
	font-weight: 900;
	font-size: 1.75em;
	text-align: center;
	text-transform: uppercase;
	margin: 2.5em 0;
}
.agenda-row table {
	width: 100%;
}
.agenda-row th {
	background: #333;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
.agenda-row th strong {
	display: block;
	font-size: 1.25em;
	font-weight: 800;
	margin-bottom: 0.3em;
}
.agenda-row .breadth-row td {
	background: #F9F9F9;
	padding-top: 1em;
	padding-bottom: 1em;
}
.agenda-row .breadth {
	text-align: center;
	font-size: 1.1em;
	font-weight: 600;
}
.agenda-row .breadth em {
	font-weight: 400;
}
.agenda-row td {
	background: #FFF;
	width: 30%;
	border: 1px solid #DDD;
	line-height: 1.5;
}
.agenda-row tbody tr {
}
.agenda-row .time {
	color: #888;
	width: 85px;
}

/* === MAP === */
#map {
	background: #F7F7F7;
	height: 375px;
	position: relative;
	-webkit-filter: grayscale(100%);
}
#map-view {
	height: 375px;
	z-index: 1;
}
#map-overlay {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 375px;
	line-height: 375px;
	top: 0;
	left: 0;
	margin: auto;
	background: rgba(0,0,0,0.75);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	z-index: 100;
}
#map-overlay h3,
#map-overlay h4 {
	color: #FFF;
	font-family: "Lato";
	margin: 0;
}
#map-overlay h3 {
	font-size: 40px;
	font-weight: 900;
	margin-top: 140px;
}
#map-overlay h4 {
	font-size: 24px;
	font-weight: 300;
	font-style: oblique;
}
					@media only screen and (max-width: 600px) {
						#map-overlay {
							padding: 0 2em;
						}
						#map-overlay h3 {
							margin-top: 100px;
							margin-bottom: 15px;
						}
					}


/* === PAGE CONTENT === */
#copy {
	padding: 5em 0;
}
#copy h4 {
	font-family: "Lato";
}
#copy p {
	color: #333;
	font-size: 1.15em;
	line-height: 1.75em;
	font-weight: 400;
}
#copy .large-8 {
	padding-right: 3em;
}
					@media only screen and (max-width: 600px) {
						#copy {
							padding: 3em 1em;
						}
						#copy .large-8 {
							margin-bottom: 1.5em;
						}
					}



/* === PANEL === */
.panel {
	border: 0 none;
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.20);
		-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.20);
		box-shadow: 0 2px 3px rgba(0,0,0,0.20);
}
.panel h4 {
	font-family: "Lato";
}
.panel ul {
	margin-left: 1.1em;
}
.panel li {
	list-style-type: square;
}
button, .button {
	border-width: 0 0 2px 0;
	border-color: #0081cc;
	background: #00a2ff;
	text-transform: uppercase;
		-webkit-box-shadow: 0 none !important;
		-moz-box-shadow: 0 none !important;
		box-shadow: 0 none !important;
}
.panel button {
	width: 100%;
}
#final-cta {
	text-align: center;
	margin-bottom: 6em;
}